@import url("https://fonts.googleapis.com/css?family=Montserrat:700,500,400");

*,
*::before,
*::after {
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

:root {
    --bg-1: rgb(240, 240, 240);
    --bg-2: rgb(218, 218, 218);
    --cta: rgb(66, 66, 66);
    --headings: var(--cta);
    --hoverlink: rgb(68, 42, 0);
}

body {
    margin: 0;
    font-family: 'Montserrat', Helvetica, sans-serif;
}


h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.2rem;
    font-weight: 400;
}

h2 h1,
h2,
h3,
h4 {
    color: var(--headings);
}

header,
footer {
    height: 64px;
    display: flex;
    align-items: center;
    margin: 0 24px;
}

nav ul,
footer ul {
    padding: 0;
}

nav li,
footer li {
    display: inline;
}


nav a,
footer a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 16px;
}

footer p {
    margin-right: auto;
}

button {
    background: var(--cta);
    border: 0;
    color: white;
    font-size: 24px;
    padding: 8px 72px;
    width: 100%;
    filter: drop-shadow(1px 1px 4px grey);
}

button:hover {
    background: var(--hoverlink);
    transition: all 0.4s ease-in-out;
}

a {
    color: rgb(40, 104, 224);
    font-weight: 500;
}

a:hover {
    text-decoration: none;
    color: var(--hoverlink);
}


.bg-2 {
    background: var(--bg-2);
}

.logo {
    color: var(--cta);
    margin-right: auto;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 400;
}

.logo span {
    color: black;
    font-weight: 700;
}

.logo img {
    vertical-align: middle;
}

.banner {
    background: var(--bg-1);
    display: grid;
    grid-template-columns: 60% 1fr;
    ;
    align-items: center;
    padding: 32px 24px;
}

.banner img {
    max-width: 100%;
    height: auto;
    filter: drop-shadow(1px 1px 4px grey);
}

.banner-cta {
    padding: 24px;
    font-size: 24px;
    font-weight: 500;
    color: var(--cta);

}

.mid-section {
    margin: 32px 24px
}

.grid-feed-container {
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-gap: 24px;
}

.quote-container {
    margin: 0;
}

.quote-container img {
    max-width: 100%;
    height: auto;
    padding: 16px 0;
}

.vert-feed {
    display: flex;
    flex-flow: column;

}

.vert-feed-item {
    display: flex;
    align-items: center;
}

.vert-feed-item:hover {
    background: var(--bg-2);
    transition: background 0.8s ease-in-out;
}

.vert-feed-item-img {
    padding: 16px;
    flex-shrink: 0;
}

.vert-feed-item-img img {
    max-width: 100%;
    height: auto;
}

.vert-feed-item-txt {
    margin: 16px;
}

.start-learning {
    padding: 32px 72px;
    background: var(--bg-1);

}

.start-learning h2 {
    margin: 0;
    text-align: center;
}

.courses-container {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;
    margin: 32px 0;
}

.course-card {
    background: white;
    filter: drop-shadow(1px 1px 4px grey);
}

.course-card:hover {
    background: var(--bg-2);
    cursor: pointer;
    transition: all 0.4s;
}

.course-card-img img {
    width: 100%;
    height: auto;
}

.course-card-text {
    margin: 0 24px 16px;
}

.thesis-exhibit {
    padding: 24px;
}

.thesis-container {
    display: grid;
    grid-template-columns: 60% 1fr;
}

.thesis-vid video {
    max-width: 100%;
}

@media only screen and (max-width: 1600px) {

    .grid-feed-container,
    .thesis-container {
        grid-template-columns: 50% 1fr;
    }

    .vert-feed-item-img {
        flex: 0 0 40%;
    }

}

@media only screen and (max-width: 1000px) {

    .banner,
    .grid-feed-container,
    .thesis-container {
        grid-template-columns: 1fr;
    }

    .grid-feed-container {
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(5rem, auto);
    }

    .courses-container {
        grid-template-columns: 1fr 1fr;
    }

    .start-learning {
        padding: 32px;
    }

    .vert-feed-item-img {
        flex: 0 0 40%;
    }

}

@media only screen and (min-width: 816px) {

    .mobile-nav {
        display: none;
    }

    nav a:hover,
    footer a:hover {
        background: var(--cta);
        color: white;
        filter: drop-shadow(1px 1px 4px grey);
        transition: all 0.4s ease-in-out;
    }
}


@media only screen and (max-width: 815px) {

    header,
    footer {
        margin: 0 16px;
    }

    .desktop-nav,
    .desktop-only {
        display: none;
    }

    nav.mobile-nav {
        width: 100%;
    }

    .mobile-nav ul {
        padding: 0;
        display: flex;
        justify-content: space-evenly;
    }

    .banner,
    .thesis-exhibit {
        padding: 0;
    }

    .banner h1 {
        margin: 0;
    }

    .banner-cta,
    .start-learning {
        padding: 16px;
    }

    .mid-section,
    .thesis-exhibit h2 {
        margin: 16px;
    }


    .start-learning {
        background: white;
    }

    .courses-container {
        grid-template-columns: 1fr;
        margin: 16px 0;
    }

    .course-card {
        background: var(--bg-1);
    }

    .course-card:hover {
        background: var(--bg-2);
        transition: all 0.4s ease-in-out;
        cursor: pointer;
    }

}


@media only screen and (min-width: 576px) {
    .mobile-img {
        display: none;
    }
}

@media only screen and (max-width: 576px) {

    .desktop-img {
        display: none;
    }

    .vert-feed-item {
        flex-flow: column;
        align-items: flex-start;
    }

    .vert-feed-item-img {
        padding: 0;
    }

    .vert-feed-item-txt {
        margin: 16px 0;
    }

}